{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="col-lg-6 col-md-8 col-sm-10 col-xsm-12 mx-auto p-6 mt-5 jumbotron no-gutters rounded">
        <h2 class="mt-0" align="center"> Complete Your Profile </h2> <hr>

        <form method="POST" action="{% url 'saveprofile' %}">
            {% csrf_token %}

        <p class="m-1"> First Name </p>
        <p> <input class="w-100 rounded border" style="height: 38px; color: grey;" type="text" value="  {{ user_data.first_name }}" readonly> </p>

        <p class="m-1"> Last Name </p>
        <p> <input class="w-100 rounded border" style="height: 38px; color: grey;" type="text" value="  {{ user_data.last_name }}" readonly> </p>

        <p class="m-1"> Contact </p>
        <p> <input class="w-100 rounded border" style="height: 38px; color: grey;" type="text" value="  {{ u1.contact }}" readonly> </p>

        <p class="m-1"> Gender </p>
        <p> <input class="ml-1" type="radio" value="male" name="gender" required> Male
         <input type="radio" value="female" name="gender"> Female </p>

        <p class="m-1"> Birthdate </p>
        <p> <input class="w-100 rounded border" style="height: 38px; color: grey;" type="date" name="birthdate" required> </p>



        <div class="form-group">
            <label for="exampleFormControlSelect1" class="ml-1">Position</label>

            <select class="form-control" id="exampleFormControlSelect1" name="position">
                <option>-- Select --</option>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>

            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1" class="ml-1">Institute</label>

            <select class="form-control" id="exampleFormControlSelect1" name="institute">
                <option>-- Select Institute --</option>
                {% for i in institutes %}
                        <option value="{{ i.inst_code }}">{{ i.inst_name }}</option>
                {% endfor %}
            </select>
        </div>

            {#        <p class="m-1"> UserID </p>#}
        <p> <input type="text" name = "uid" value="{{ uid }}" hidden> </p>
{#            {{ profile_form|crispy }}#}
        <button type="submit" class="btn btn-primary no-gutters col-12 mt-4 "> Save Profile </button>

        </form>



    </div>

{% endblock %}
